.header {
    background-color: cornflowerblue;
    text-align: center;
    padding: 30px ;
    text-transform: uppercase;
}
.section {
    background-color: cornflowerblue;
    padding: 30px;
}
.container {
    width: 600px;
    margin: auto;
     

}
h3 {
   
    padding: 50px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.block {
    background-color: chartreuse;
    padding: 50px;
}
.class {
    text-transform: uppercase;
    margin-bottom: 30px;
}
footer {
    background-color: darkgoldenrod;
    padding: 50px 0;
}