h1 {
    margin: 24px;
}
.square {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 20px solid black;
    display: inline-block;
    margin: 10px;
}
.double {
    border-style: double;
}
.dashed {
    border-style: dashed;
}
.dotted {
    border-style: dotted;
}
p {
    width: 500px;
    background-color: chartreuse;
    padding: 30px;
    border-top: 20px solid blue;
    border-bottom: 20px solid purple;
    border-left: 20px solid red;
    border-right: 20px solid brown;
}
.para {
    background-color: black;
    display: inline;
    padding: 40px;
}